.search-page-container {
    display: flex;
}

#total-results-text {
    display: flex;
    align-self: flex-start;
    margin-left: 35px;
    font-style: italic;
    color: hsl(197, 12%, 29%);
}

.search-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
}
