.search-page-container {
    display: flex;
    width: 1400px;
    justify-content: flex-start;
}

.search-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
}

