.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;
    width: 1200px;
}

.header-logo {
    height: 117px;
}

.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.user-icon {
    width: 45px;
    height: 45px;
}

.login-button {
    width: 107px;
    height: 40px;
}