@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    color: hsl(0, 0%, 0%);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', Arial, sans-serif;
    box-sizing: border-box;
    --tile-width: 210px;
    --tile-background: hsl(200, 25%, 95%);
    --input-width: 371px;
}

.page {
    background-color: hsl(0, 0%, 90%));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inhoud {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 900;
    font-size: 1rem;
}

h2, p {
    margin: 5px 0;
}

p {
    font-size: 0.9rem;
}

button, .input-bar, a {
    font-size: 1rem;
}

button {
    background-color: var(--tile-background);
    box-shadow: 1px 1px 4px 0px hsl(196, 15%, 70%);
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.input-bar {
    width: var(--input-width);
    height: 40px;
    border: 1px solid hsl(197, 12%, 29%);
    border-radius: 4px;
    font-weight: 300;
    box-sizing: border-box;
}

