.filter-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
}

.date-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
}

.see-more, .see-less {
    position: relative;
    background: none;
    border: none;
    box-shadow: none;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 0.9rem;
    font-style: italic;
}

.see-more::before, .see-more::after, .see-less::before, .see-less::after {
    content: "";
    width: 1px;
    height: 0.5rem;
    background-color: black;
    display: block;
    position: absolute;
    transform-origin: bottom;
}

.see-more::before, .see-more::after {
    top: 8px;
    right: 0;
    bottom: 0;
    left: 10px;
}

.see-less::before, .see-less::after {
    top: 1px;
    right: 0;
    bottom: 0;
    left: 10px;
}

.see-more::before {
    transform: rotate(+45deg);
}

.see-more::after {
    transform: rotate(-45deg);

}

.see-less::before {
    transform: rotate(+135deg);
}

.see-less::after {
    transform: rotate(-135deg);
}
